@import '../mixins';

.wp-block-yard-timeline .block-list-appender {
	position: static;
	margin-bottom: 1rem;

	.block-editor-button-block-appender {
		@include button-block-appender;
	}
}

ul.wp-block.wp-block-yard-timeline,
ol.wp-block.wp-block-yard-timeline {
	padding-left: 0;
	list-style: none;
}
