$parent: 'wp-block-yard-gutenberg-tabs';
$block: 'wp-block-yard-gutenberg-tabs-item';

.#{$parent}
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout
	.#{$block} {
	&__heading-input {
		width: auto;
	}

	&__panel {
		order: 100;
		width: 100%;
	}
}
