$block: 'wp-block-yard-collapse-item';

.#{$block} {
	&__header-button {
		text-align: left;
		width: 100%;
	}

	&__panel {
		overflow: hidden;

		&.is-collapse-item-closed {
			display: none;
		}
	}
}
