$layout: 'yard-gutenberg-settings';

.#{$layout} {
	&-header {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100px;
		background-color: #fff;
		box-shadow: rgba( 0, 0, 0, 0.1 ) 0px 1px 3px 0px,
			rgba( 0, 0, 0, 0.06 ) 0px 1px 2px 0px;
	}
}
