@use '../mixins' as *;

$block: 'wp-block-yard-iconlist';

.#{$block} {
	list-style: none !important;
	padding-left: 0 !important;

	.block-list-appender {
		position: static;

		.block-editor-button-block-appender {
			@include button-block-appender;
		}
	}
}
