@use '../mixins' as *;

$block: 'wp-block-yard-tabs';

.#{$block} {
	display: block;

	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.block-list-appender {
		order: 99;
		position: static;

		.block-editor-button-block-appender {
			@include button-block-appender;
		}
	}
}
