$block: 'wp-block-yard-gutenberg-tabs';

.#{$block} {
	display: block;

	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.block-list-appender {
		order: 99;
		position: static;
	}
}
