.wp-block-yard-table-of-contents {
	.components-placeholder.is-medium .components-placeholder__instructions,
	.components-placeholder.is-small .components-placeholder__instructions {
		display: block;
	}
}
