$block: 'wp-block-yard-facetwp';

.#{$block}-inspector-list {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin-top: 0.5rem;
}

.#{$block}-inspector-item {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	border: 1px solid #ddd;

	&__label {
		flex: 1;
		font-size: 0.8rem;
		min-width: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		em {
			color: #757575;
			font-style: normal;
		}
	}

	&__handle.components-button {
		cursor: grab;
		color: #757575;
		min-width: 32px;
		padding: 0;

		&:active {
			cursor: grabbing;
		}
	}

	&__remove.components-button {
		min-width: 32px;
		padding: 0;
	}
}
